<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
</head>
<body>
  <h1>Welcome to the {{pageTitle}}</h1>
  {{>header}}
  <p>Some one goona kill me Tonight</p>
  {{>footer}}
</body>
</html>
